[Unit]
Description=tvbuttons
After=network.target

[Service]
WorkingDirectory=/home/admin/simpsonstv/
User=admin
ExecStart=/usr/bin/python3 /home/admin/simpsonstv/buttons.py
Restart=always

[Install]
WantedBy=multi-user.target
