[Unit]
Description=Simpson TV Player Touchscreen
After=network.target

[Service]
WorkingDirectory=/home/admin/simpsonstv/
User=admin
ExecStart=/usr/bin/python3 /home/admin/simpsonstv/touch-vlc.py
Restart=always

[Install]
WantedBy=multi-user.target
